*{
    margin: 0;
    padding: 0;
}
.navbar{
    background-color: aquamarine;
    width: 100%;
    height: 80px;
    box-shadow: 0px 4px 10px black;
}
.contente{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    
    
}
.contente ul{
    display: flex;
    
}
.contente ul li{
    margin-right: 10px;
    list-style: none;
    padding: 4px 10px;
    background-color: rgb(84, 175, 146);
    border-radius: 5px;
    box-shadow: 1px 1px black;
}
.contente ul li:hover{
    background-color: rgb(114, 170, 152);
    cursor: pointer;
}
.menu{
    width: 80%;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
}
.menu div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 20px;
    border: 1px solid black;
    flex: 1 1 100px;
}
.menu div img{
    margin: 10px;
    width: 150px;
    height: auto;
}
.footer{
    height: 100px;
    width: 100%-50px;
    margin: auto;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 0px 10px 4px black;
}
.footer p{
    
}